<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Dashboard - {{ user }}</title>
</head>

<body>
    <div class="d-flex" id="content-wrapper">

        <!-- Sidebar -->
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light font-weight-bold mb-0">Hitman's</h4>
            </div>
            <div class="menu">
                {% if user.id == 1 %}
                    <a href="{% url 'giuseppi:hitmans' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                        Hitmans
                    </a>
                    <a href="{% url 'giuseppi:hits' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                        Hits
                    </a>
                    <a href="{% url 'giuseppi:create-hit' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                        Create hit
                    </a>
                {% endif %}
                {% if user.boss %}
                    <a href="{% url 'giuseppi:create-hit' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                        Create hit
                    </a>
                {% endif %}

            </div>
        </div>
        <!-- Fin sidebar -->

        <div class="w-100">

         <!-- Navbar -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'login:logout' %}">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">
                <section class="bg-light py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-8">
                                <h1 class="font-weight-bold mb-0">Welcome {{ user }} - {{ user. }}</h1>
                                <p class="lead text-muted">Check the latest information</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="bg-mix py-3">
                    <div class="container">
                        <div class="card rounded-0">

                        </div>
                    </div>
                 </section>

                <section>
                  <div class="container">
                      {% if user.id == 1 %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="{% url 'giuseppi:create-boss' %}" class="btn btn-primary">Create Boss</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'giuseppi:create-hitman' %}" class="btn btn-secondary">Create Hitman</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'giuseppi:create-hit' %}" class="btn btn-dark">Create Hit</a>
                                    </div>
                                </div>
                            </div>
                      {% endif %}
                      {% if user.boss %}
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-2">
                                      <a href="{% url 'giuseppi:create-hitman' %}" class="btn btn-secondary">Create Hitman</a>
                                  </div>
                                  <div class="col-md-2">
                                      <a href="{% url 'giuseppi:create-hit' %}" class="btn btn-dark">Create Hit</a>
                                  </div>
                              </div>
                          </div>
                      {% endif %}


                        <div class="row">
                            <div class="col-lg-12 my-3">
                                <div class="card rounded-0">
                                    <div class="card-header bg-light">
                                        {% block head %}
                                            <h6 class="font-weight-bold mb-0">Board</h6>
                                        {% endblock %}
                                    </div>
                                    {% block content %}
                                    {% endblock %}
                              </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        
</body>

</html>
